<!DOCTYPE html>
<html lang="en">
<head>
<title>Service Automation Web</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="resources/css/style.css" type="text/css" />

<!-- Load angularjs -->
<script src="resources/js/libs/angular.js"></script>
<!-- Load angularjs-resource, which allows us to interact with REST resources as high level services -->
<script src="resources/js/libs/angular-resource.js"></script>

</head>
<body>
	<aside id="container">
		<div id="main" ng-app>

			<p>A very basic Angular JS example...</p>			
			
			<nav class="{{active}}" ng-click="$event.preventDefault()">
				<a href="#" class="home" ng-click="active='home'">Home</a> 
				<a href="#" class="projects" ng-click="active='projects'">Projects</a>
				<a href="#" class="services" ng-click="active='services'">Services</a>
				<a href="#" class="contact" ng-click="active='contact'">Contact</a>
			</nav>

			<p ng-hide="active">Please click a menu item</p>
			<p ng-show="active"> <b>{{active}}</b> </p>
		</div>
		<br/>
		<footer id="footer">

		</footer>
	</aside>
</body>
</html>
